################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Nextzen.Enterprise.BDD/FileContentIndex
/.vs/Nextzen.Enterprise.BDD/v17
/Nextzen.Enterprise.BDD/obj/*
*.feature.cs
*.nupkg
/Nextzen.Enterprise.BDD/bin/*
/.vs
*.suo
*.user
_ReSharper.*
bin
obj/
bin/
packages
/Nextzen.Enterprise.BDD/nuget.config
